<div class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <h1>GESTIÓN DE EQUIPOS BIOMÉDICOS</h1>
    </div>
        
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <p>Hoja de vida, mantenimiento y metrología de sus equipos biomédicos en línea.</p>
        <p><%= link_to(new_registration_path(resource_name), :class => 'btn btn-outline-inverse btn-lg') do %>
    			Registrarse gratis »
    		<% end %></p>
    	</div>
      <div class="col-md-4">
      </div>
      
    </div>
  </div>
</div>
    
<div class="container features">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 manasyFeature">
      <h2><span class="glyphicon glyphicon-time"></span> Alertas</h2>
      <p>Recibe notificaciones automáticas cuando debes solicitar el mantenimiento o metrología para tus equipos.</p>
    </div>
    <div class="col-md-4 manasyFeature">
      <h2><span class="glyphicon glyphicon-stats"></span> Indicadores</h2>
      <p>Evalua a un click tus costos de mantenimiento, metrología e inventario para que hagas las mejores deciciones. </p>
   </div>
    <div class="col-md-4 manasyFeature">
      <h2><span class="glyphicon glyphicon-usd"></span> Comenzar es gratis</h2>
      <p>Perfecto para estudiantes, pequeñas empresas y grandes instituciones.</p>
    </div>
  </div>

  <hr>

  <footer>
    <p>© BioNube 2014</p>
  </footer>
</div>