
<div class="jumbotron">
  <div class="container">
    <h1>Equipos biomedicos</h1>
    <p>Hoja de vida, mantenimiento y metrología de sus equipos biomedicos en linea.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Registrarse gratis »</a></p>
  </div>
</div>
    
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Alertas</h2>
      <p>Reciba notificaciones automaticas cuando debe solicitar el mantenimiento o metrología para sus equipos.</p>
      <p><a class="btn btn-default" href="#" role="button">Ver detalles »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Reportes</h2>
      <p>Evalue a un click sus costos de mantenimiento, metrologia e inventario para que hagas las mejores deciciones. </p>
      <p><a class="btn btn-default" href="#" role="button">Ver detalles »</a></p>
   </div>
    <div class="col-md-4">
      <h2>Comenzar es gratis</h2>
      <p>Perfecto para estudiantes, pequeñas empresas y grandes instituciones.</p>
      <p><a class="btn btn-default" href="#" role="button">Ver detalles »</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>© Manasy 2013</p>
  </footer>
</div>