.container
  .row.manasyPanel
    = link_to edit_institucion_path(@institucion), :class => "btn btn-default pull-right anadir" do
      %span.glyphicon.glyphicon-edit
      Editar
    .col-xs-4.equipoProperty
      %span.equipoPropertyName Nombre
      = @institucion.nombre
