<div class="container indicadores">
  <div class="clearfix">
    <span class="clearfix">PROXIMAMENTE - INDICADORES A UN CLICK</span>
    <%= pie_chart @costoMensual %>
    <%= column_chart @costoMensual %>
    <%= bar_chart @costoMensual %>
  </div>
</div>
