<li>
  <a href=#><%= current_user.email %></a>
</li>
<li>
  <%= link_to destroy_user_session_path, :method => :delete do %>
    <span class="glyphicon glyphicon-log-out"></span> Salir
  <% end %>
</li>
