<p class="navbar-text"><%= current_user.email %></p>
<%= link_to destroy_user_session_path, :method => :delete, :class => 'btn btn-default navbar-btn' do %>
	<span class="glyphicon glyphicon-log-out"></span> Salir
<% end %>
