<div class="container equipos">
  <%= link_to new_tecnico_path, :class => "btn btn-default pull-right anadir" do %>
    <span class="glyphicon glyphicon-plus"></span> Nuevo
  <% end %>
  <div class="row">
    <ul class="list-group col-xs-6 col-xs-offset-3">
        <% @tecnicos.each do |tecnico| %>
          <li class="list-group-item">
            <%= tecnico.nombre %>
            <%= link_to tecnico, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right" do %>
              <span class="glyphicon glyphicon-trash"></span>&nbsp; 
            <% end %>
            <%= link_to edit_tecnico_path(tecnico), :class => "pull-right" do %>
              <span class="glyphicon glyphicon-edit"></span>&nbsp;
            <% end %>
            
          </li>
        <% end %>
    </ul>
  </div>
</div>