<div class="container">
	<ol class="breadcrumb">
	  <li><%= link_to "Equipos", equipos_path %></li>
	  <li class="active">Nuevo</li>
	</ol>
	
	<%= render partial: 'form', locals: {action: "new"} %>

</div>