// Place all the styles related to the equipos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Edit

.field {
  padding-top: 16px;
  text-align: center;
}

.equipos{
  .header{
    background-color: transparent;
    div{
      padding-bottom: 10px;
      text-align: center;
    }
  }
}

.equipo {
  @extend .manasyPanel;
  padding: 10px 0px;
  margin-bottom: -1px;
  min-height: 63px;
  .item {
    .info {
      text-align: left;
      .pic{
        text-align: right;
        img{
          //height: 55px;
          width: 55px;
          margin-top: 3px;
        }
      }
      .body{
        .name{
          font-weight: bold;
          padding: 6px 0 2px 0;
          font-size: 16px;
        }
      }
      
    }
    .actions{
      @extend .field;
    }
  }
  .item-description{
    
  }
}

//Show
.equipoImage{
  width: 200px;
}

.equipoProperty{
  padding: 25px 0px 0px 30px;
}

.equipoPropertyName{
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.equipoTitle{
  padding-top: 5px;
  font-size: 26px;
}
.equipoUbicacion{
  color: #aaa;
  font-size: 12px;
  padding-left: 20px;
  span {
    margin-right: 10px;
    display: inline-block;
  }
}

.equipoActions {
  position: absolute;
  top: 15px;
  right: 15px;
}
