// Place all the styles related to the indicadores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indicadores > div > div{
  width: 350px;
  float: left !important;
  border: 1px solid #dddddd;
}

.indicadores > div{
  padding-top: 20px;
}
.indicadores > div > span{
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
