// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables";
@import "bootstrap/mixins";

.jumbotron {
  //background-color: #877cc0
  color: white;
  @include gradient-horizontal(#877cc0, #08c);
}

.jumbotron p {
  font-size: 24px;
}

.jumbotron h1{
  font-size: 40px;
}

.manasyFeature {
  border-radius: 10px;
}

.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #cdbfe3;
  padding: 15px 30px;
  font-size: 30px;
}

.features{
  background-color: white;
}
