// Place all the styles related to the Ordenes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orderPic{
  margin-right: 10px;
  img{
    height: 55px;
    width: 55px;
  }
}

.orderBody{
  width: 90%
}

.name{
  font-weight: bold;
  padding: 6px 0 2px 0;
  font-size: 16px;
}

.description{
  padding: 0 0 1px 0;
  font-weight: normal;
  color: #666;
  font-size: 14px;
}

.tags{
  float: left;
  margin-top: 4px;
  margin-bottom: 6px;
  line-height: 1.5;
  color: #aaa;
  font-size: 12px;
  padding-left: 10px;
  width: 100%;
  span {
    margin-right: 10px;
    display: inline-block;
  }
}
