<div class="container equipos">
  <%= link_to new_cuenta_path, :class => "btn btn-default pull-right anadir" do %>
    <span class="glyphicon glyphicon-plus"></span> Nuevo
  <% end %>
  <div class="row">
    <ul class="list-group col-xs-6 col-xs-offset-3">
        <% @cuentas.each do |cuenta| %>
          <li class="list-group-item">
            <%= cuenta.email %>
            (<%= cuenta.role.title %>)
          </li>
        <% end %>
    </ul>
  </div>
</div>